.nav-bar{
    color: white !important;
    .brand{
        color: white !important;
        text-decoration: none !important;
    }
    .link{
        color: white !important;
        text-decoration: none !important;
    }
}